<h1>This is the show action for post controller</h1>







<%= form_with model: @like, url: :likes do |form| %>
<%= form.hidden_field  :post_id, value: @post.id %>
<%= form.submit "like" %>
<% end %>
